In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('data/full_df.csv')
df['sum'] = df['N'] + df['D'] + df['G'] +df['C'] +df['A'] + df['H'] + df['M'] + df['O']
display(df['sum'].value_counts())
df = df[df['sum'] == 1]
df = df[['ID', 'Left-Fundus', 'Right-Fundus', 'N', 'D', 'G', 'C', 'A', 'H', 'M', 'O']]
df = df.set_index('ID')
df.to_csv('filtered_df.csv')
df

sum
1    5391
2     955
3      46
Name: count, dtype: int64

        Left-Fundus    Right-Fundus  N  D  G  C  A  H  M  O
ID
0        0_left.jpg     0_right.jpg  0  0  0  1  0  0  0  0
1        1_left.jpg     1_right.jpg  1  0  0  0  0  0  0  0
5        5_left.jpg     5_right.jpg  0  1  0  0  0  0  0  0
8        8_left.jpg     8_right.jpg  1  0  0  0  0  0  0  0
9        9_left.jpg     9_right.jpg  0  0  0  0  0  0  0  1
...             ...             ... .. .. .. .. .. .. .. ..
4683  4683_left.jpg  4683_right.jpg  0  1  0  0  0  0  0  0
4686  4686_left.jpg  4686_right.jpg  0  1  0  0  0  0  0  0
4688  4688_left.jpg  4688_right.jpg  0  1  0  0  0  0  0  0
4689  4689_left.jpg  4689_right.jpg  0  1  0  0  0  0  0  0
4690  4690_left.jpg  4690_right.jpg  0  1  0  0  0  0  0  0

[5391 rows x 10 columns]